<div class="lifestyles-container">
  <div class="lifestyles-header">
    <div class="header-title">
      <mat-icon>featured_play_list</mat-icon>
      <span>Legalización Insumos UP</span>
    </div>
    <button mat-flat-button class="btn-new-lifestyle" routerLink="/legalization-supplies/new">
      <mat-icon>add</mat-icon>
      Nueva Legalización Insumos UP
    </button>
  </div>

  <div class="content-section">
    <app-legalization-supplies-list></app-legalization-supplies-list>
  </div>
</div>
