:host{
  background-color: var(--white);
  padding: 10px;
}
.case-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:16px;
  padding: 10px;
}

/* CARD */

.card{
  background:var(--white);
  border:1px solid var(--gray-secondary);
  border-radius:10px;
  display:flex;
  flex-direction:column;
  height:400px;
}

.card__header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 16px;
  border-bottom:1px solid var(--gray-secondary);
}

.card__title-group{
  display:flex;
  align-items:center;
  gap:12px;
}

.card__icon{
  width:36px;
  height:36px;
  background: var(--blue-primary);
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content:center;
  color: var(--white);
  font-size:16px;
}

.badge{
  background:var(--background-pages);
  color:var(--strong-gray-primary);
  font-size:12px;
  padding:4px 10px;
  border-radius:6px;
}

/* COMMENTS */

.comments-list{
  padding:20px;
  overflow:auto;
  flex:1;
}

.comment-item{
  display:flex;
  gap:12px;
  margin-bottom:20px;
}





.comment-content{
  flex:1;
}

.comment-header{
  display:flex;
  gap:8px;
  font-size:14px;
  margin-bottom:6px;
}

.comment-header span{
  color:var(--strong-gray-primary);
  font-size:13px;
}

.comment-message{
  background:var(--background-pages);
  padding:12px 14px;
  border-radius:8px;
  font-size:14px;
}

/* INPUT */

.comment-input{
  border-top:1px solid var(--gray-secondary);
  padding:16px;
  display:flex;
  flex-direction:row;
  gap:12px;
  align-items:center;
}

.comment-input textarea{
  resize:none;
  height:70px;
  border:1px solid var(--gray-secondary);
  border-radius:8px;
  padding:10px;
  font-family:inherit;
  flex:1;
}

.btn-primary{
  background:var(--blue-primary);
  border:none;
  border-radius: 8px;
  width:30px;
  height:40px;
  color:var(--white);
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-shrink:0;
}

.btn-primary mat-icon {
  font-size: 16px;
  vertical-align: middle;
  margin-top: 9px;
}

/* DROPZONE */

.dropzone{
  margin:20px;
  border:2px dashed var(--gray-primary);
  border-radius:10px;
  padding:0px;
  text-align:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--gray-tertiary);
  cursor: pointer;

  &:hover {
    border-color: var(--blue-primary);
    color: var(--blue-primary);
  }

  &:active {
    cursor: grabbing;
  }
}

.dropzone i{
  font-size:20px;
  color:var(--blue-primary);
  margin-bottom:10px;
}

.dropzone-title{
  font-weight:600;
  color:var(--strong-blue-primary);
}

/* FILE LIST */

.files-list{
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:14px;
  max-height: 200px;
  overflow-y: auto;
}

.file-item{
  display:flex;
  gap:12px;
  align-items:center;
  border:1px solid var(--gray-secondary);
  border-radius:8px;
  padding:12px;
}

.file-icon{
  width:40px;
  height:40px;
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:18px;
}

.file-icon.image{
  background:var(--blue-primary);
  color: var(--white);
}

.file-icon.pdf{
  background:var(--blue-primary);
  color: var(--white);
}

.file-icon.excel{
  background:var(--blue-primary);
  color: var(--white);
}

.file-info{
  display:flex;
  flex-direction:column;
}

.file-info span{
  font-size:13px;
  color:var(--gray-tertiary);
}